* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #454545;
}

a {
	text-decoration: none;
	color: #454545;
	transition: all 0.3s ease-in-out;
}

a:hover {
	opacity: 0.8;
	transition: all 0.3s ease-in-out;
}

a:focus {
	background-color: #00800017;
}


.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 990px;
}

header {
	display: flex;
	flex-flow: wrap column;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
}

.logo {
	margin-bottom: 36px;
	display: block;
}

.logo:focus {
	background-color: transparent;
}

nav {
	width: 100%;
	max-width: 320px;
}

header nav ol.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-link {
	margin: 0 10px;
}

.nav-link:last-child,.nav-link:first-child {
	margin: 0;
}

.nav-link > a {
	padding: 10px;
	display: block;
}

.dropdown-trigger {
	position: relative;
}

.dropdown {
	padding: 20px;
	border: 1px solid #454545;
	position: absolute;
	top: 60px;
	left: -125px;
	width: 300px;
	background-color: #fff;
	border-radius: 4px;
}

.dropdown ol {
	list-style: none;
	display: flex;
	flex-flow: wrap row;
	margin: 0;
	padding: 0;
	justify-content: flex-start;
}

.dropdown ol li {
	width: calc(33.33% - 16px);
	margin: 8px;
	margin-bottom: 10px;
}

.dropdown ol li a {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	padding: 10px;
}

.dropdown ol li img {
	width: 30px;
	margin-bottom: 10px;
}

.more {
	display: flex;
	align-items: center;
	margin: 20px auto;
	border: 0;
	background-color: transparent;
	font-size: 16px;
	padding: 10px 30px;
	border: 1px solid;
	border-radius: 20px;
	color: #454545;
}

.more img {
	width: 30px;
	margin-right: 10px;
}

@media (min-width: 600px) {
	header {
		flex-flow: wrap row;
		justify-content: space-between;
	}

	.logo {
		margin-bottom: 0;
	}

	.dropdown {
		padding: 40px;
		left: -216px;
		width: 400px;
	}
}